html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/*!*_____________________________________*!*/

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: local(''),url('../fonts/montserrat-v18-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),url('../fonts/montserrat-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

#logo{
    margin-left: 13px;
    color:rgba(255, 255, 255, 1);
}

#hexagon {
    position: absolute;
    width: 58px;
    height: 37px;
    left: 383px;
    top: 42px;
    background: rgba(24, 207, 171, 1);
    font-family: Montserrat, sans-serif;
    font-size: 37px;
    font-weight: bold;



}
#hexagon:before {
    content: "";
    position: absolute;
    top: -18px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-bottom: 19px solid rgba(24, 207, 171, 1);
}
#hexagon:after {
    content: "";
    position: absolute;
    bottom: -18px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-top: 19px solid rgba(24, 207, 171, 1);
}
.header{
    display: flex;
    position: absolute;
    width: 1920px;
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
}
.logo{
    display: flex;
}
.the{
    margin-left: 444px;
    margin-top: 38px;
    color: rgba(255, 255, 255, 0.6);
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
}
.ham{
    margin-left: 0px;
    margin-top: 38px;
    color: rgba(24, 207, 171, 1);
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
}

.header-elem{
    height: 21.65px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-left: 19px;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:rgba(255, 255, 255, 0.6);
}
.header-elem:hover{
    color: rgba(24, 207, 171, 1);
}
.hide-input{
    width: 80px;

}
#input{
    display: none;
}

.mein-menu{
    position: absolute;
    left: 866px;
    top: 49.61px;
    display: flex;
}

.magnifying-glass {
    position: relative;
    width: 17px;
    height: 17px;
    box-sizing: border-box;
    /*background-color: aliceblue;*/
    border: 3px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
}

.magnifying-glass:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 8px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0 7.5px 7.5px 0;
    transform-origin: 0 50%;
    transform: translateX(100%) rotate(45deg);
}

.section-1{
    position: relative;
    width: 1920px;
    height: 1012px;
    left: 0px;
    top: 0px;
    background-image: url('./Sections_background/section-1.jpg');
}
.left-span1{
    position: absolute;
    height: 35px;

    color: rgba(255, 255, 255, 0.6);
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 35px;
    line-height: 1px;
    text-transform: uppercase;
}

.right-span{
    position: absolute;
    height: 35px;
    margin-left: 227px;
    color: rgba(24, 207, 171, 1);
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 35px;
    line-height: 1px;
    text-transform: uppercase;
}
.central-banner1{
    margin-left: -80px;
    margin-top: 42px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 78px;

    text-transform: uppercase;
    color: #FFFFFF;
}
.container{
    display: flex;
    flex-direction: column;
    margin-left: 660px;
    margin-top: 403px;
}
.central-banner2{
    font-family: Montserrat, sans-serif;
    font-size: 34px;
    margin-left: -80px;
    margin-top: 23px;
    color: #FFFFFF;
}
.section-1-buttons{
    position: relative;
    margin-left: 118px;
    margin-top: 128px;
    display: flex;
    align-items: stretch;

}

.btn-type1{
    position: relative;
    width: 167px;
    height: 65px;
    border-top: 5px solid #fff;
    color: #FFFFFF;
    border-radius: 5px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;

    font-size: 15px;
    /*line-height: 32px;*/
    background: #18CFAB;
}

.btn-type2{
    width: 169px;
    height: 63px;
    margin-left: 25px;

    border-top: 5px solid #fff;
    color: #FFFFFF;
    border-radius: 5px;
    background: #00CBF6;
}
.section-2{
    display: flex;
    position: relative;
    left: 0;
    top: 10px;
}

.btn-type3{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 482px;
    height: 360px;
    color: #FFFFFF;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    background: #1C2A33;
    align-items: center;
}

.btn-img3{
    position: absolute;
    width: 61px;
    height: 100px;
    left: 210px;
    top: 85px;
}
.btn-text3{
    position: absolute;
    color: #18CFAB;
    top: 232px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 20px;
}


.btn-type4{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 482px;
    height: 360px;
    color: #FFFFFF;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    background: #18CFAB;
    align-items: center;
}

.btn-img4{
    position: absolute;
    width: 96px;
    height: 78px;
    left: 193px;
    top: 96px;
}
.btn-text4{
    position: absolute;
    color: #fff;
    top: 232px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.section-3 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1160px;
    height: 375px;
    /*left: 380px;*/
}
.h1{
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
    font-family: Montserrat, sans-serif;
    font-size: 36px;
}
.centered-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.line-1{
    position: relative;
    margin-top: 125px;
    width: 81px;
    border: 1px solid #18CFAB;
}
.line-2{
    top: -14px;
    position: relative;
    left: 14px;
    width: 81px;
    border: 1px solid #18CFAB;
}
.tabs {
    display: flex;
    margin: 57px;
    /*width: 1000px;*/
}

.tabs-title {
    padding: 15px;
    background-color: rgba(248, 252, 254, 1);
    cursor: pointer;
    width: 160px;
    font-family: Montserrat;
    line-height: 39px;
    align-items: center;
    text-align: center;
}

.tabs-title:hover{
    border: 1px solid #18CFAB;
}

.tabs-title.active {
    position: relative;
    background-color: #18CFAB;
    color: #fff;
    /*display: flex;*/
    align-items: center;
    text-align: center;
}

.tabs-title.active:after, .tabs-title.active:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.tabs-title.active:after {
    border-color: transparent;
    border-top-color: #18CFAB;
    border-width: 10px;
    margin-left: -10px;
}
.tabs-title.active:before {
    border-color: transparent;
    border-top-color: #18CFAB;
    border-width: 10px;
    margin-left: -10px;
}

.tabs-content li {
    display: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
}

.tabs-content li.active {
    display: block;
    width: 1145px;
    margin-top: -37px;
}
.web-design{
    width: 192px;
    height: 139px;
    float:left;
    margin: 7px 7px 7px 0;
}
.section-4{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 187px;
    width: 1920px;
    height: 476px;
    left: 0px;
    top: 190px;
    background-blend-mode: multiply;
    background-image: url('./Sections_background/section-2.jpg');
    background-color: rgba(10, 10, 10, 0.8);
}
.p-section-4{
    position: relative;
    width: 1143.34px;
    height: 40px;
    left: 388.83px;
    top: 126.78px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
}
.p2-section-4{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 852px;
    height: 40px;
    left: 535px;
    top: 144px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #D8D8D8;
}

.section-4-btn{
    position: relative;
    display: flex;
    align-items: center;
    left: 876px;
    top: 206px;
}
.section-5{
    position: relative;
    background-color: #E9EDEF;
    align-content: center;
    width: 1920px;
    height: 1212px;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-5-menu{
    display: flex;
}
.section-5-block-img{
    display: flex;
    flex-wrap: wrap;
    width: 1140px;
    height: 633px;
}

.section-5-img {
    width: 285px;
    height: 211px;
    left: 0;
    top: 0;
}


.img-wrapper {
    position: relative;
    display: inline-block;
}
.img-wrapper .block-onhover {
    width: 285px;
    height: 211px;
    background-color: #E9EDEF;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    margin-left: 0;
    opacity: 0;
    transition: opacity 0.3s;
}
.img-wrapper:hover .block-onhover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
}
.first-circle-img-wrapper{
    position: relative;
    left: 0;
    top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #18CFAB;
    align-items: center;
    justify-content: center;
    display: flex;
}
.second-circle-img-wrapper{
    position: relative;
    left: 0;
    top: 10px;
    width: 41px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #18CFAB;
}
.square{
    width: 10px;
    height: 10px;
    background-color: #ffffff;
}
.first-span-img-wrapper{
    position: relative;
    width: 165px;
    height: 42px;
    left: 0;
    top: 10px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14.1771px;
    line-height: 25px;


    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #18CFAB;
}

.plus{
    /*font-weight: bold;*/
    font-size: 35px;
    margin: 0, 10, 0, 10;
}
#loadMorePuzzle {
    display: none;
}